{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
	<meta name="description" content="Welcome to Shop.Io, a multi-vendor website">
	<meta name="authot" content="Shop.Io Tanmoy">
	<meta property="og:title" content="Shop.Io | About">
	<meta property="og:description" content="Welcome to Shop.Io, a multi-vendor website">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://ShopIo.com/about/">
{% endblock %}

{% block content %}
	<h1 class="text-2xl">About Us</h1>

	<h2 class="mt-6 text-xl text-justify">Shop.io is a web based online shopping system that will allow the customers to buy and shop online. The customer will have to provide their information in order to buy products. The customer will have access to many operations like searching the products, add to cart, add and remove from cart, track their orders etc. The customer will also be able to manage his/her profile and can also pay their orders through Stripe. The main idea behind this project is to help people who are not able to get out of the house much or have not enough time to shop offline easily.</h2>

	<hr class="mt-4 mb-4">

	<h1 class="text-2xl">If you wish to contact us regarding any problems or queries:</h1>
	<h2 class="mt-6 text-xl text-justify">Our email address: 2002.dtanmoy@gmail.com</h2>
	<h2 class="mt-6 text-xl text-justify">Our phone number: +917086867262</h2>
{% endblock %}